<!DOCTYPE>
<html>
    <head>
        <style>
            #rotor_text_dial {
                width: 50;
                height: 50;
                background-color: burlywood;
                border: 4px;
                border-color: brown;
            }
            #dial_text {
                font-size: medium;
                font-family: 'Times New Roman', Times, serif;
            }
        </style>

    </head>
    <body>
        <table>
            <tr>
                <td class = "rotor_text_dial">
                    <p class = "dial_text">A</p>
                </td>

                <td class = "rotor_text_dial">
                    <p class = "dial_text">B</p>
                </td>
            </tr>
        </table>
    </body>
</html>